/* Declare root colors for document */

:root {
--white: #ffffffff;
--jet-black: #1f2937ff;
--pale-slate: #c6c6cbff;
--mint-leaf: #12b981ff;
--emerald: #4adf86ff;
--carbon-black: #1c1c1cff;
--deep-space-blue: #273549;
}

/* Normalize default margins to 0px */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}