.hero-text {
    color: var(--color-text-primary);
    font-size: 44px;
    font-family: "Karla", sans-serif;
    margin-bottom: 0px;
} 

#hero-text-emphasis {
    font-size: 46px;
    color: var(--color-text-secondary);
    font-family: "Karla", sans-serif;
}

#hero-subtitle{
    margin-top: 5px;
    color: var(--color-text-muted);
    font-family: "Karla", sans-serif;
    font-weight: lighter;
    font-size: 25px;
}

.toggle-control {
    font-size: 15px;
    font-family: "Karla", sans-serif;
    color: var(--color-text-muted);
    margin: 20px auto 20px 0px; 
    width: 300px;
}

.checkbox {
    margin-left: 5px;
    accent-color: var(--color-text-secondary);
}

.toggle-slider{
    margin: 0 10px 0 10px;
    accent-color: var(--color-text-secondary);
}

#lengthValue-el {
    color: var(--color-text-secondary);
}


#CTA-btn-generate-password {
    font-size: 20px;
    font-family: "Karla", sans-serif;
    background-color: var(--color-accent-primary);
    color: var(--color-text-primary);
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 10px auto 30px 0px;
    align-self: flex-start;
    width: 100%;
}

.generated-password-textbox {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    font-family: "Karla", sans-serif;
    font-weight: lighter;
    border: none;
    border-radius: 5px;
    min-width: 250px;
    padding: 8px 10px;
    min-height: 40px;
    text-align: center;
}

#btn-copy-to-clipboard {
    font-size: 15px;
    font-family: "Karla", sans-serif;
    background-color: #0C6F4E;
    color: var(--color-text-primary);
    border: none;
    border-radius: 5px;
    min-width: 170px;
    padding: 8px 10px;
    min-height: 40px;
    text-align: center;
}