body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-inverse);
}

.page-container {
    /* border: solid red 5px; */
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    padding: 20px 60px 50px 80px;
    width: 40%;
    margin-top: 80px;
}

.hero-section {
    /* border: solid red 5px; */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    border-bottom: solid gray 1px;
    margin-bottom: 40px;
    margin-top: 30px;
}

#generated-passwords-section {
    /* border: solid red 5px; */
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
