body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-inverse);
}

.page-container {
    /* border: solid red 5px; */
    background-color: var(--color-bg-primary);
    display: flex;
    flex-direction: column;
    padding: 20px 60px 50px 80px;
    width: 40%;
    margin-top: 80px;
}

.hero-section {
    /* border: solid red 5px; */
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin-top: 30px;
}

.controls-section {
    border-radius: 15px;
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between; 
    align-items: flex-start;
    margin: 15px 0 15px 0;
    padding: 10px 15px 10px 15px;
}

#generated-passwords-section {
    /* border: solid red 5px; */
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
