:root {
  --color-text-primary: var(--white);
  --color-text-secondary: var(--emerald);
  --color-text-muted: var(--pale-slate);

  --color-bg-primary: var(--jet-black);
  --color-bg-secondary: var(--deep-space-blue);
  --color-bg-inverse: var(--carbon-black);

  --color-accent-primary: var(--mint-leaf);
}

@font-face {
  font-family: "Karla";
  src: url(../assets/fonts/Karla/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla Italic";
  src: url(../assets/fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

body {
    background-color: var(--color-bg-inverse);
}